{% extends "main.html" %}

{% block content %}
  {% include "header.html" %}

  <div class="form">
    <h3>Delete Item</h3>
    <form method="post" action="{{url_for('routes.DeleteItem', item_id=item.id)}}">
      <p class="note">WARNING: Are you sure you want to delete the following item?</p>
      <div><strong>Name:</strong> {{item.name}}</div>
      <div><strong>Description:</strong> {{item.description}}</div>
      <div><strong>Category: </strong>{{category.name}}</div>
      <div><input type="hidden" name="item_id" value="{{item.id}}"></div>
      <div><input type="hidden" name="state" value="{{STATE}}"></div>
      <div><input type="submit" name="Delete Item" value="Delete"></div>
    </form>
  </div>

{% endblock %}