{% extends "main.html" %}

{% block content %}
  {% include "header.html" %}

  <div class="left-column">
    <div class="user-info">
      <div class="name">{{userinfo.name}}</div>
      <div class="email">{{userinfo.email}}</div>
      <div class="profile-pic">
        <img src="{{userinfo.picture}}">
      </div>
    </div>
    <div class="categories">
      {% if not categories %}
        <p class="faded-msg">No categories added yet! Please <a href="{{url_for('routes.AddCategory')}}">add</a> one!</p>
      {% else %}
        {% for category in categories %}
          <li><a href="{{url_for('routes.Category', category_name=category.name, category_id=category.id)}}">{{category.name}}</a></li>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="right-column">
    <div class="items">
      {% if not items %}
        <p class="faded-msg">No items added yet! Please <a href="{{url_for('routes.AddItem')}}">add</a> one!</p>
      {% else %}
        {% for item in items %}
          <li><a href="{{url_for('routes.Item', item_name=item.name, item_id=item.id)}}">{{item.name}}</a> => <a href="{{url_for('routes.EditItem', item_id=item.id)}}">Edit</a> | <a href="{{url_for('routes.DeleteItem', item_id=item.id)}}">Delete</a></li>
        {% endfor %}
      {% endif %}
    </div>
  </div>

{% endblock %}