{% extends "main.html" %}

{% block content %}
  {% include "header.html" %}

  <div class="view-item">
    <h1>{{item.name}}</h1>
    <p class="description">{{item.description}}</p>
    <p class="category">Category: {{category_name}}</p>
  </div>

  <div class="item-operations">
      <ul>
        <li><a href="{{url_for('routes.EditItem', item_id=item.id)}}">Edit</a></li>
        <li><a href="{{url_for('routes.DeleteItem', item_id=item.id)}}">Delete</a></li>
        <li><a href="{{url_for('routes.ItemJson', item_name=item.name, item_id=item.id)}}">JSON Endpoint</a></li>
      </ul>
  </div>

{% endblock %}